* {
  box-sizing: border-box;
}
:root {
  font-size: min(calc(1em + 1vw), 4em);
}
body {
  min-height: 100vh;
  font-family: sans-serif;
}
body > * {
  min-height: 1em;
}
header {
  background: cyan;
  grid-area: header;
}
header > h1 {
  margin: 0;
}
nav {
  background: magenta;
  grid-area: nav;
}
main {
  background: yellow;
  grid-area: main;
}
footer {
  background: black;
  color: white;
  grid-area: footer;
}

#basic-layout-1 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5rem 25rem 5rem;
  grid-template-areas:  "header header header header"
                        "nav main main main"
                        "footer footer footer footer";
}

#basic-layout-2 {
  display: grid;
  gap: 10px;
  grid-template-rows: 7rem 3rem 25rem 5rem;
  grid-template-areas:  "header"
                        "nav"
                        "main"
                        "footer";
}

#basic-layout-3 {
  display: grid;
  gap: 10px;
  grid-template-rows: 27rem 6rem 6rem;
  grid-template-areas:  "main main"
                        "footer footer"
                        "header nav";
}

#basic-layout-4 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 20rem 20rem;
  grid-template-areas:  "main main main header"
                        "footer footer footer nav";
}

#basic-layout-5 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8rem 30rem 5rem;
  grid-template-areas:  "header header"
                        "main nav"
                        "main footer";
}

#basic-layout-6 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 8rem 25rem;
  grid-template-areas:  "header header header footer"
                        "nav main main footer"
                        "nav main main footer";
}

#basic-layout-7 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 8rem 25rem 6rem;
  grid-template-areas:  "nav header header"
                        "nav main main"
                        "nav  footer footer";
}

#basic-layout-8 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 8rem 25rem;
  grid-template-areas:  "header header header"
                        "nav main footer";
}

#basic-layout-9 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 7rem 25rem 6rem;
  grid-template-areas:  "header nav nav nav"
                        "main main main main"
                        "footer footer footer footer";
}

#advanced-layout-1 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 6rem 6rem 6rem 6rem;
  grid-template-areas:  ". header header header"
                        "nav nav nav ."
                        ". main main main"
                        ". footer footer footer";
}